---
title: "Snowflake Spend dbt Package Release 1.1.0"
author: Emilie Schario and Taylor A. Murphy, PhD
categories: unfiltered
image_title: "/images/blogimages/gitlab-values-cover.png"
description: "The latest Snowflake Spend dbt package release is helping companies become even more efficient."
guest: true # required when the author is not a GitLab Team Member or there is more than one author
twitter_text: "Version 1.1.0 of the @gitlab Data Team's @SnowflakeDB Spend @getdbt package is released"
---

{::options parse_block_html="true" /}

<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>&nbsp;&nbsp;
This blog post is [Unfiltered](/handbook/marketing/blog/unfiltered/#legal-disclaimer)
&nbsp;&nbsp;<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>
{: .alert .alert-webcast}

## Summary

* Added Snowflake's Query History Model to the package ([!5](https://gitlab.com/gitlab-data/snowflake_spend/-/merge_requests/5/) from [@nehiljain](https://gitlab.com/nehiljain))
* Updated the structure of the package to use Sources ([!7](https://gitlab.com/gitlab-data/snowflake_spend/-/merge_requests/7/))

Thanks to [@m_walker](https://gitlab.com/m_walker), [@mpeychet_](https://gitlab.com/mpeychet_), and [@nehiljain](https://gitlab.com/nehiljain) who helped make this release happen!

## Contributors

Thanks [@nehiljain](https://gitlab.com/nehiljain) for contributing your first MR.

## Feedback

If you're using the package, we'd love your feedback.

* See the original announcement: [Managing your Snowflake Spend with Periscope and dbt](https://about.gitlab.com/blog/2019/08/26/managing-your-snowflake-spend-with-periscope-and-dbt/)
* Get started with [the Snowflake Spend package](https://gitlab.com/gitlab-data/snowflake_spend).
* Share feedback by creating [an issue](https://gitlab.com/gitlab-data/snowflake_spend/-/issues).

[Everyone Can Contribute.](/company/mission-and-vision/#mission)
