---
title: "GitLab tutorials for secure pipelines, Kubernetes, and more at Learn@GitLab"
author: Chrissie Buchanan
author_gitlab: cbuchanan
author_twitter: gitlab
categories: engineering
image_title: '/images/blogimages/Learn-at-GL.jpg'
description: "Learn@GitLab offers videos and self-driven demos so you can get the most out of GitLab at your own pace."
tags: inside GitLab, iteration, tutorial
cta_button_text: 'Visit Learn@GitLab' # optional
cta_button_link: '/learn/' # optional
twitter_text: "GitLab tutorials for secure pipelines, Kubernetes, and more at Learn@GitLab" # optional;  If no text is provided it will use post's title.
featured: no
postType: content marketing
related_posts:
  - "/blog/2021/01/04/how-we-prevented-security-fixes-leaking-into-our-public-repositories/"
  - "/blog/2020/12/22/building-a-handbook-first-remote-learning-culture/"
  - "/blog/2020/12/02/pre-filled-variables-feature/"
merch_banner: merch_seven
---

At GitLab, we often say that it's not what you know, it's knowing where to look. But sometimes, finding answers isn’t so easy.

An autonomous, [self-service](/company/culture/all-remote/self-service/#proactive-approach-to-answering-questions){:target="_blank"}, self-learning, and self-searching mindset is when you operate with the idea that your question has already been answered – somewhere. But we realized that for people interested in GitLab, or even those using GitLab, learning **how** to use it wasn’t always easy to find.

While we stress the importance of having a [single source of truth](/handbook/values/#single-source-of-truth){:target="_blank"}, we realized that when it came to learning about GitLab, there were almost too many places to look. We have [GitLab University](https://docs.gitlab.com/ee/university/){:target="_blank"}, our official [GitLab](https://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg){:target="_blank"} and [GitLab Unfiltered](https://www.youtube.com/channel/UCMtZ0sc1HHNtGGWZFDRTh5A){:target="_blank"} YouTube pages where we regularly upload educational content, and of course, the [docs](https://docs.gitlab.com/){:target="_blank"}. We needed to find a way to consolidate self-education and make it more intuitive.

# What is Learn@GitLab?

[Learn@GitLab](/learn/){:target="_blank"} is a learning portal where anyone can go to find self-driven demos and videos about using GitLab. Rather than just making Learn@GitLab _one more resource_, we’re iterating on this idea and consolidating our educational content so that it’s self-driven and easy to find.

The goal for Learn@GitLab is to present high quality, and accessible technical content that is easy to find on our website to help prospects and users educate themselves about GitLab. This content will include educational technical videos, as well as simulation/click-through demos, and tutorials. The content is organized by common topics such as DevOps Platform, version control and collaboration, and continuous integration, to name a few.

We’ve picked three of our favorite videos/tutorials for you to get a quick introduction to Learn@GitLab.

## The benefits of a single DevOps platform

When we talk about the benefits of GitLab, we often talk about how it saves time and how the single application reduces toolchain complexity. But what does that mean in the context of an ordinary toolchain using tools like GitHub, Jenkins, Jira, etc.?

In this super short video, we break down a typical toolchain according to three criteria: Integrations needed, clicks, and screen switches. How many times do you need to context switch for a simple task? We break it down for you.

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube-nocookie.com/embed/MNxkyLrA5Aw" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

## Adding security to your GitLab CI/CD pipeline

GitLab helps teams go from DevOps to DevSecOps. One of the ways we help is by allowing you to check your application for security vulnerabilities in your CI/CD pipelines that may lead to unauthorized access, data leaks, denial of services, or worse. GitLab reports these vulnerabilities in the merge request so you can fix them before they ever reach end users.

This quick video guides you through setting up and configuring GitLab security features, and setting up approval rules for merge requests.

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube-nocookie.com/embed/Fd5DhebtScg" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

## GitLab developer flow with Kubernetes

If you’re a developer, or even just managing a team of developers, you might want to see what a typical workflow would be like using GitLab. If you’re using [Kubernetes](/solutions/kubernetes/){:target="_blank"}, seeing how GitLab works within a deployment environment is especially important.

In this technical demo, we use Amazon EKS as the deployment environment. We go over creating GitLab issues, merge requests, how to use Auto DevOps pipeline templates, review apps, advanced deployment techniques, and staging and production rollout – all in **just 15 minutes.**

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube-nocookie.com/embed/TMQziI2VDbQ" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

While we’ll continue to have educational content in other places on our site (and will continue to update them), Learn@GitLab will act as a front door for self education that is no more than two clicks from our homepage. With this new learning portal, we hope to teach people what problems GitLab can solve, but more importantly, show step-by-step _how_ GitLab solves them.

Feel free to explore the different learning paths and comment below if you have any suggestions. Everyone can contribute.

{::options parse_block_html="true" /}

<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>&nbsp;&nbsp;
[Go to Learn@GitLab](/learn/)!
&nbsp;&nbsp;<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>
{: .alert .alert-webcast}

Cover image by [Benjamin Davies](https://unsplash.com/@bendavisual?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText) on [Unsplash](https://unsplash.com/s/photos/learn?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText)
{: .note}
